* {
  font-family: 'Shippori Mincho B1', serif;
}

body {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(#fbf6c3, #d8c6a2);  
}

main {
  border: black solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 98vh;
  width: 75vw;
}

aside {
  width: 25vw;
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 35px
}

h5, h1, h2 {
  margin: 0%;
}

button {
  cursor: pointer;
}

.game-buttons {
  margin-top: 25%;
  display: flex;
  flex-direction: column;
}

.game-board, .game-board-variant {
  margin-top: 30px;
  width: inherit;
  display: flex;
  justify-content: space-around;
}

.selection {
  height: 20vh;
  width: 20vh;
}

img {
  height: 100%;
  width: 100%;
}

button > p {
  font-size: 36px;
  text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 rgb(255, 255, 255), 0 1px 0 rgb(255, 255, 255), -1px 0 0 rgb(255, 255, 255);
}

button > h5 {
  font-size: 15px;
  text-shadow: 1px 0 0 rgb(255, 255, 255), 0 -1px 0 rgb(255, 255, 255), 0 1px 0 rgb(255, 255, 255), -1px 0 0 rgb(255, 255, 255);
}

#rock {
  background: url(./src/rock.jpeg);
  background-size: cover;
}

#paper {
  background: url(./src/lines-paper.jpeg);
  background-size: cover;
}

#scissors {
  background: url(./src/scissors\ copy.jpeg);
  background-size: cover;
}

#brush {
  background: url(./src/brush.jpeg);
  background-size: cover;
}

#samurai {
  background: url(./src/samurai.jpeg);
  background-size: cover;
}

#ronin {
  background: url(./src/ronin.jpg);
  background-size: cover;
}

#shinobi {
  background: url(./src/shinobi.jpg);
  background-size: cover;
}

#oni {
  background: url(./src/oni.jpeg);
  background-size: cover;
}

.hidden {
  display: none;
}